db.sqlite3
venv
**/*__pycache__
venv/
.env
*.venv
*.env
pip-log.txt
pip-delete-this-directory.txt
.vscode/
.idea/
*.swp
*.swo
db.sqlite3
__pycache__/
*/__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
*.pyo
*.~ 
.DS_Store
Thumbs.db
*.bak
staticfiles/
media/